.continentName{
    font-size: 2rem;
    color: black;
}

.continentName:hover{
    color: lightblue;
}

.countryName{
    font-size: 1rem;
    color: rgb(138, 138, 138);
}

.countryName:hover{
    color: lightblue;
}

.langLiStyle{
    font-size: 0.75rem;
    color: purple;
}

.langLiStyle:hover{
    color: black;
    cursor: pointer;
}